/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #19b3c1;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
